@media(max-width: 1140px) {

  .menu-container {
    padding: 35px 20px;
  }
}

@media(max-width: 768px) {
  .result-container {
    padding: 30px 25px;
  }

  .result-container h1 {
    font-size: 25px;
  }

  .result-subtitle {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .player-container,
  .moves-container,
  .time-container {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 5px;
  }

  .player-score,
  .time-result,
  .moves-result {
    font-size: 22px;
  }

  .button-container {
    margin-top: 15px;
    display: block;
  }

  .restart,
  .new-game {
    font-size: 16px;
    padding: 15px;
    width: 100%;
  }

  .restart {
    margin-bottom: 10px;
  }
}

@media(max-width: 700px) {

  .start-container {
    padding: 25px;
  }

  .selection-box h3 {
    font-size: 16px;
  }

  .btn {
    padding: 10px 0;
    font-size: 14px;
  }
}

@media(max-width: 670px) {

  .card-button {
    width: 105px;
    height: 105px;
  }

  .score {
    font-size: 24px;
  }
}

@media(max-width: 565px) {
  .hard-card-button {
    width: 69px;
    height: 69px;
  }
}

@media(max-width: 550px) {
  .menu-container {
    text-align: center;
    display: block;
  }

  .menu-buttons {
    margin-top: 10px;
  }
}

@media(max-width: 486px) {

  .hard-card-button {
    width: 58px;
    height: 58px;
  }

  .show {
    font-size: 25px;

  }

  .moves,
  .timer {
    font-size: 24px;
  }
}

@media(max-width: 475px) {
  .card-button {
    width: 80px;
    height: 80px;
  }
}

@media(max-width: 465px) {
  .hard-card-button {
    width: 55px;
    height: 55px;
  }
}

@media(max-width: 402px) {
  .hard-card-button {
    width: 55px;
    height: 55px;
    margin: 5px 2px;
  }
}


@media(max-width: 370px) {
  .card-button {
    width: 70px;
    height: 70px;
  }
}