@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.game-container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #FCFCFC;
  height: 100%;
}

.btn {
  border-style: none;
  padding: 15px 0;
  color: #FCFCFC;
  border-radius: 35px;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  background-color: #BCCED9;
}

/* Start Screen */

.start-screen {
  height: 100vh;
  background-color: #152938;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logo-img {
  margin: 0 0 40px 0;
}

.logo-img path {
  fill: #FCFCFC;
}

.start-container {
  width: 85%;
  background-color: #FCFCFC;
  padding: 50px;
  max-width: 645px;
  border-radius: 20px;
}

.selection-box h3 {
  color: #7191A5;
  margin-bottom: 15px;
}

.selection-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

.btn-theme {
  width: 47%;
}

.btn-players {
  width: 22%;
}

.btn-grid {
  width: 47%;
}

.btn-mode:hover {
  background: #6395B8;
}

.btn-start {
  width: 100%;
  background: #FDA214;
  font-size: 32px;
}

.btn-start:hover {
  background: #FFB84A;
}

.theme-active,
.players-active,
.grid-active,
.theme-active:hover,
.players-active:hover,
.grid-active:hover {
  background: #304859;
}

/* Menu */

.menu-container {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-buttons .btn {
  font-size: 20px;
  font-weight: 700;
}

.restart-btn {
  width: 127px;
  background: #FDA214;
  margin-right: 10px;
}

.restart-btn:hover {
  background: #FFB84A;
}

.new-game-btn {
  width: 149px;
  color: #304859;
  background: #DFE7EC;
}

.new-game-btn:hover {
  background: #6395B8;
  color: #fcfcfc;

}

/* Game Grid */

.game-grid {
  max-width: 572px;
  margin: 0 auto;
}

.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-button {
  cursor: pointer;
  border-style: none;
  width: 118px;
  height: 118px;
  background: #304859;
  border-radius: 100%;
  align-items: center;
  margin: 6px;
  font-size: 0px;
  font-weight: 700;
  color: #fcfcfc;
}

.hard-card-button{
  cursor: pointer;
  border-style: none;
  width: 81px;
  height: 81px;
  background: #304859;
  border-radius: 100%;
  align-items: center;
  margin: 6px;
  font-size: 0px;
  font-weight: 700;
  color: #fcfcfc;
}

.open {
  background: #BCCED9;
  cursor: default;
}

.show {
  font-size: 40px;
  cursor: default;
}

.wrong {
  background: #ed4444;
}

.match {
  background: #FDA214;
}

/* Players Score */

.players-score {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; 
}

.player,
.time-div,
.moves-div {
  width: 46%; 
  background: #DFE7EC;
  color: #304859;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.three-players{
  width: 30%;
  background: #DFE7EC;
  color: #304859;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.four-players{
  width: 46%;
  background: #DFE7EC;
  color: #304859;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.score,
.moves,
.timer {
  font-weight: 700;
  font-size: 32px;
}

.player-turn {
  background: #FDA214;
  color: #fcfcfc;
}

.players-list {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}

.time-div {
  display: flex;
}

/* Single player modal */

.single-result-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4588235294117647);
}
.multiplayer-result-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  display: none; 
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4588235294117647);
}

.result-container {
  max-width: 654px;
  background-color: #fcfcfc;
  padding: 40px 55px;
  border-radius: 10px;
  width: 85%;
}

.result-container h1,
.result-container p {
  text-align: center;
}

.result-container h1 {
  color: #304859;
  font-size: 3rem;
  margin-bottom: 15px;
}

.result-container {
  color: #7191A5;
  font-size: 20px;
  font-weight: 700;
}

.result-subtitle {
  margin-bottom: 30px;
}

.time-container,
.moves-container,
.button-container,
.player-container {
  align-items: center;
  display: flex;
  justify-content:space-between;
}

.time-container,
.moves-container,
.player-container {
  background-color: #DFE7EC;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.winner{
  color: #FCFCFC;
  background-color: #304859;
}

.moves-result,
.time-result,
.player-score {
  font-weight: 700;
  font-size: 32px; 
  color: #304859;
}

.button-container {
  margin-top: 30px; 
}

.restart,
.new-game {
  font-size: 20px;
  width: 48%;
}

.restart {
  background: #FDA214;
}

.restart:hover {
  background: #FFB84A;
}

.button-container a {
  width: 48%;
  border-radius: 35px; 
}

.new-game{
  width: 100%;
  background-color: #DFE7EC;
  color: #304859;
}

.new-game:hover {
  background-color: #6395B8;
  color: #FCFCFC;
}

.new-game a:hover {
  color: #FCFCFC;
}

